<!-- Panel Bottom #01 -->
<nav class="panel bottom forceMobileView fixed">
    <div class="sections desktop">
        <div class="left">
            <div class="social">
                <a target="_blank" href="https://www.facebook.com/novussummit"><img src="/images/facebook.png" alt="Facebook"/></a>
                <a target="_blank" href="https://twitter.com/novussummitun"><img src="/images/twitter.png" alt="Twitter"/></a>
            </div>
        </div>
        <div class="bottomNav center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
        <div class="right"></div>
    </div>
</nav>