<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<%- include('fonts'); %>
<%- include('styles'); %>
<title><%= title %></title>

<meta property="og:title" content="NOVUS SUMMIT" />
<meta property="og:site_name" content="NOVUS SUMMIT"/>
<meta property="og:description" content="Join us for an exclusive one-day event with leading influencers and visionaries in supporting the United Nations 17 goals for sustainable world. The event will be held in the great General Assembly Hall of the United Nations, New York. NOVUS is a tour de force that unites global shapers from around the world to tackle the today's grand challenges via actionable change. This highly curated gathering of 200 delegates will include connecting, ideation, and curated conversations from leading venture capitalists, CEOs and humanitarians like Marcus Shingles, Robert Swan, Troy Carter, Howard Tullman, and Roya Mahboob." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.novussummit.org" />
<meta property="og:image" content="http://www.novussummit.org/images/homebg.jpg" />


<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="/slides/js/plugins.js" type="text/javascript" name="plugins"></script>
<script src="/slides/js/slides.js" type="text/javascript" name="main-scripts"></script>