<nav class="panel top small fixed hideOnScroll">
    <div class="sections desktop">
        <div class="left"><a href="/"><img height="40" style="vertical-align:-35%;"  src="/images/logocolor.png" alt=""/>NOVUS</div>
        <div class="center">
            <ul class="menu small uppercase">
                <li><a href="#intro">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#news">NEWS</a></li>
                <li><a href="#survey">SURVEY</a></li>
                <li><a href="#apply">REGISTER</a></li>
                <li><a href="#2016">2016</a></li>
                <li><a href="#speakers">SPEAKERS</a></li>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#partners">PARTNERS</a></li>
                
            </ul>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left"> <a href="/"><img height="40" style="vertical-align:-35%;"  src="/images/logocolor.png" alt=""/>NOVUS</a></div>
        <div class="right">
            <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
        </div>
    </div>
</nav>
