<nav class="panel top small fixed hideOnScroll">
    <div class="sections desktop">
        <div class="left"><a href="#">NOVUS</a></div>
        <div class="center">
            <ul class="menu small uppercase">
                <li><a href="#intro">HOME</a></li>
                <li><a href="#speakers">SPEAKERS</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#apply">APPLY</a></li>
            </ul>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left"> <a href="/">NOVUS</a></div>
        <div class="right">
            <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
        </div>
    </div>
</nav>
