<section class="slide fade     kenBurns" name="2016">
    <div class="content about">
        <div class="container">
            <div class="wrap">
                <div class="fix-8-12">
                    <h1 class="small ae-1">2016 Summit</h1>
                    <div class="aboutContent ae-2">
                        <p>On July 17th 2016, NOVUS organized the first-ever annual summit at the United Nations General Assembly Hall that showcased 17 voices of positive change. NOVUS Summit was staged in partnership with UN DESA to support the 17 UN global goals.</p>
                        <p>We thank our honorees, speakers and delegates that joined us on the 17th July 2016 in the General Assembly hall at the UN in NY to share and support these change agents. Let us all unite and be part of NOVUS.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/aboutbg.jpg)"></div>
</section>
