<section class="slide fade-2     kenBurns" name="about">
    <div class="content about">
        <div class="container">
            <div class="wrap">
                <div class="fix-8-12">
                    <h2 class="small ae-1">Where technology meets humanity to transform the world</h2>
                    <div class="aboutContent ae-2">
                        <p>On September 25th 2015, countries adopted a set of goals to end poverty, protect the planet, and ensure prosperity for all as part of a new sustainable development agenda.</p>
                        <p>On July 17th 2016, Novus will organize the first-ever annual summit at the United Nations General Assembly Hall to showcase 17 voices of positive change. Novus Summit will be staged in partnership with UN DESA to support the 17 UN global goals.</p>
                        <p>The 17 Sustainable Development Goals have received significant attention within the humanitarian, governmental and NGO domains. While these organizations do great work, they often struggle to incorporate the many technology innovations that are available today. Meanwhile tech innovators around the world have innovative solutions but are not connecting them with the bigger picture and the 17 sustainable development goals.</p>
                        <p>NOVUS SUMMIT, is where technology meets humanity to transform the world.  This year we will honor 17 innovators at the UN that bring together those two worlds and create actionable change.</p>
                        <p>The Summit will serve as an intergenerational platform to inspire all generations to unite in action for positive humanitarian impact, and find ways to promote the 2030 mandate by sharing stories of transformation and resilience in a highly immersive environment.</p>
                        <p>We welcome our delegates on the 17th July 2016 in the General Assembly hall at the UN in NY to share and support these change agents. Let us all unite and be part of NOVUS.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/motionbg.jpg)"></div>
</section>