<section class="slide fade kenBurns" name="agenda">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12">
                    <img id="applyLogo" src="/images/logocolor.png" />
                    <h1 class="small ae-1">Agenda</h1>
                    <div class="ae-2">
                        <p>Our doors opens up at 8:00am. Please arrive early as you will need to go through UN security.</p>
                        <p>Our show will start at 9:00am and continue until 7:30pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style=""></div>
</section>