<section class="slide fade kenBurns" name="apply">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12">
                    <h1 class="small ae-1">Novus Summit is by invitation only</h1>
                    <div class="ae-2">
                        <p>If you think you should be there with us, please contact us and tell us why</p>
                    </div>
                    <a class="button round uppercase pink ae-5 fromCenter" href="mailto:info@novusconf.com">Contact us</a>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/grungebg.jpg)"></div>
</section>