<section class="slide fade kenBurns" name="apply">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12">
                    <img id="applyLogo" src="/images/logo_v3.png" />
                    <h1 class="small ae-1">NOVUS Summit is by invitation only</h1>
                    <div class="ae-2">
                        <p>We are maxed out our capacity. For any questions please contact one of our team members directly</p>
                    </div>
                </div>
                <div class="citygala">
                    <div>Novus Summit operates as a project of the <a href="http://www.citygala.org">City Project Gala</a>.</div>
                    <img src="/images/citygalalogo.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="background" style=""></div>
</section>