<section class="slide fade kenBurns" name="apply">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12">
                    <img id="applyLogo" src="/images/logo_v3.png" />
                    <h1 class="small ae-1">NOVUS SUMMIT</h1>
                    <div class="ae-2">
                        <p>We are building the NOVUS Community, please register your interest to be part of a great community that supports the 17 Sustainable Development Goals of the UN and we will get back to you with additional information.</p>
                        <p>Being a member of the NOVUS Community will guarantee a VIP pass for the Novus Summits as well as an access to an exclusive workspace to exchange ideas with the other community members.</p>
                        <a class="btnContact button round uppercase ae-5 fromCenter" href="http://backtrack.toscani.nl/novus-summit/register/">Register Interest</a>
                    </div>
                </div>
                <div class="citygala">
                    <div>Novus Summit operates as a project supported by <a href="http://www.edcast.com">edcast</a>.</div>
                    <img src="/images/partners/edcast.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="background" style=""></div>
</section>