<section class="slide fade-4 kenBurns" name="intro">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12">
                    <div class="ae-1 fix-12-12">
                        <h1 class="siteHeader">NOVUS SUMMIT</h1>
                    </div>
                    <div class="ae-2">
                        <p class="hero">Where Technology Meets Humanity To Transform The World</p>
                    </div>
                    <div class="soon ae-3" id="my-soon-counter"
                         data-due="2016-07-17T09:00:00"
                         data-layout="group"
                         data-format="d,h,m,s"
                         data-face="slot slide up fast shadow-soft"
                         data-visual="ring cap-round invert progressgradient-fb801b_f1d935 ring-width-custom">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/unga.jpg)"></div>
</section>