<section class="slide kenBurns" name="intro">
    <div class="content">
        <div class="container">
            <div class="wrap introContainer">
                <div class="fix-10-12">
                    <div class="ae-1 fix-12-12">
                        <h1 class="siteHeader">NOVUS</h1>
                    </div>
                    <div class="ae-2">
                        <p class="siteSubHeader">
                            SUMMIT - UNITED NATIONS
                        </p>
                        <p class="siteSubSubheader">
                             July 2017
                        </p>
                    </div>
                    <p class="ae-1"> 
                             Watch the 2016 summit video
                        </p>
                    <div class="btnPlay button play cropBottom popupTrigger ae-2 fromCenter play-2" data-popup-id="2">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background introbg" style=""></div>
</section>

<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="2">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-10-12">
                    <div class="embedVideo popupContent">
                        <iframe src="https://www.youtube.com/embed/b7guHVFS8_M" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>