<section class="slide fade kenBurns" name="news">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-8-12">
                    <h1 class="small ae-1">News</h1>
                    <div class="aboutContent ae-2">
                        <p>Have a look at our <a class="mainMenu uppercase" target="_blank" href="https://medium.com/@novussummit/novus-summit-f47326b5437b#.shaglshzv"> current newsletter</a></p>
                        <p>Browse <a class="mainMenu uppercase" target="_blank" href="https://medium.com/@novussummit"> previous newsletters</a></p> 
                        <!--<p>or browse through the older issues</p>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/aboutbg.jpg)"></div>
</section>