<section class="slide fade kenBurns" name="partners">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12 toCenter">
                    <h1 class="small ae-1">Partners</h1>
                    <div class="ae-2"><p>Meet our prtners who helped make Novus a reality</p></div>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later equal left">
                        <li class="col-4-12">
                            <div class="empty noShadow ae-3" data-popup-id="91"><a href=""><img class="img-91 rounded wide partnerLogo" src="/images/partners/we_are_pie2.png" alt=""/></a></div>
                        </li>
                        <li class="col-4-12">
                            <div class="empty noShadow ae-3" data-popup-id="91"><a href=""><img class="img-91 rounded wide partnerLogo" src="/images/partners/khare.jpg" alt=""/></a></div>
                        </li>
                        <li class="col-4-12">
                            <div class="empty noShadow ae-3" data-popup-id="91"><a href=""><img class="img-91 rounded wide partnerLogo" src="/images/partners/edcast.png" alt=""/></a></div>
                        </li>
                    </ul>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later equal center">
                        <li class="col-4-12">
                            <div class="empty noShadow ae-3" data-popup-id="91"><a href=""><img class="img-91 rounded wide partnerLogo" src="/images/partners/circx.png" alt=""/></a></div>
                        </li>

                        <li class="col-4-12">
                            <div class="empty noShadow ae-3" data-popup-id="91"><a href=""><img class="img-91 rounded wide partnerLogo" src="/images/partners/inventus.png" alt=""/></a></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/speakersbg.jpg)"></div>
</section>
