<section class="slide fade kenBurns   " name="survey">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fgix-8-12 ">
                    <h1 class="small ae-1">Survey</h1>
                    <div class="aboutContent ae-2">
                        <p>Had you registered interest for the 2016 summit? Please complete <a class="mainMenu uppercase" target="_blank" href="https://goo.gl/forms/p8GpEmZjrtfRHhlD2"> our survey</a></p>
                        <p>to help us improve your experience.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/aboutbg.jpg)"></div>
</section>
