<section class="slide fade kenBurns">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12">
                    <img id="applyLogo" src="/images/translogo.png" />
                    <h1 class="small ae-1">Welcome to NOVUS</h1>
                    <div class="ae-2">
                        <p><b>NOVUS Summit is strictly by invitation only.</b> Your registration code can be used only once. Please don't share you registration code with anyone else. If your plans change and you can't attend anymore, please notify us as soon as possible as we have limited tickets available.
                        </p>
                        <p>
                            <b>Due to security restrictions of the UN, only registered attendees will be able to enter the premise.</b>
                        </p>
                    </div>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup" class="registerForm ae-4">
                        <form action="//novussummit.us13.list-manage.com/subscribe/post?u=46459536f81cfad38ed194847&amp;id=ce4b693293" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">

                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                                    </label>
                                    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                                    </label>
                                    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-COMPANY">Company  <span class="asterisk">*</span>
                                    </label>
                                    <input type="text" value="" name="COMPANY" class="required" id="mce-COMPANY">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-ROLE">Role  <span class="asterisk">*</span>
                                    </label>
                                    <input type="text" value="" name="ROLE" class="required" id="mce-ROLE">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-MMERGE8">Invited By  <span class="asterisk">*</span>
                                    </label>
                                    <input type="text" value="" name="MMERGE8" class="required" id="mce-MMERGE8">
                                </div>
                                <div class="mc-field-group size1of2">
                                    <label for="mce-BIRTHDAY-month">Birthday </label>
                                    <div class="datefield">
                                        <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
                                        <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
                                        <span class="small-meta nowrap">( mm / dd )</span>
                                    </div>
                                </div><div class="mc-field-group">
                                    <label for="mce-FACEBOOK">Facebook </label>
                                    <input type="text" value="" name="FACEBOOK" class="" id="mce-FACEBOOK">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LINKEDIN">LinkedIn </label>
                                    <input type="text" value="" name="LINKEDIN" class="" id="mce-LINKEDIN">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_46459536f81cfad38ed194847_ce4b693293" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[4]='ROLE';ftypes[4]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='FACEBOOK';ftypes[6]='text';fnames[7]='LINKEDIN';ftypes[7]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/ga.jpg)"></div>
</section>