<section class="slide fade kenBurns">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12">
                    <img id="applyLogo" src="/images/translogo.png" />
                    <h1 class="small ae-1">NOVUS Summit is by invitation only</h1>
                    <div class="ae-2">
                        <p>You tried to use an invalid registration code or an already used one. If you think you should be there with us, please <a href="mailto:info@novussummit.org">contact us</a> and tell us why</p>
                    </div>
                    <a class="btnContact button round uppercase ae-5 fromCenter" href="http://backtrack.toscani.nl/novus-summit/register/">Apply</a>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/ga.jpg)"></div>
</section>